.content{
    margin: 10rem auto auto auto;
    width: 90%; 
}
.title{
  
    text-align: center;
    margin: 1rem auto auto auto;
    padding: 3rem 2rem 5rem 2rem;
}
.fibo{
    font-size: 2rem;
    margin: 3rem auto auto auto;
    padding: 4rem 2rem 9rem 2rem;
    
}

mat-card{
    margin: 5rem auto auto auto;
    width: 80%; 
    height: 80%;
}

button{
   
    width: 50%;
}

h1{
    margin: 2rem auto auto auto;
}

img{
    height: 10rem;
    margin: 1rem auto auto auto;
  }

.label-imagem{
    font-size: 2rem; 
    padding: 5rem 2rem 4rem 2rem;
}

input{
    width: 40%;
    height: 2rem;
}

