.content{
    margin: 10rem auto auto auto;
    width: 100%; 
}
.title{
    text-align: center;
    margin: 4rem auto auto auto;
}
.fibo{
    font-size: 2rem;
    margin: 2rem auto auto auto;
    padding: 3rem 2rem 6rem 2rem;
}

mat-card{
    margin: 5rem auto auto auto;
    width: 80%; 
    height: 60%;
}

button{
    width: 50%;
}

h1{
    margin: 3rem auto auto auto;
}